@model TransactionDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">

    <div class="row">
        <div class="col-sm-3"><label asp-for="Date" class="control-label"></label></div>
        <div class="col-sm-3">@Model.Date</div>
    </div>

    <div class="row">
        <div class="col-sm-3"><label asp-for="Type" class="control-label"></label></div>
        <div class="col-sm-3">@Model.Type</div>
    </div>

    <div class="row">
        <div class="col-sm-3"><label asp-for="Amount" class="control-label"></label></div>
        <div class="col-sm-3">@Model.Amount</div>
    </div>

    <div class="row">
        <div class="col-sm-3"><label asp-for="Description" class="control-label"></label></div>
        <div class="col-sm-3">@Model.Description</div>
    </div>

    <div class="row">
        <div class="col-sm-3"><label asp-for="FirstName" class="control-label"></label></div>
        <div class="col-sm-3">@Model.FirstName</div>
    </div>

    <div class="row">
        <div class="col-sm-3"><label asp-for="LastName" class="control-label"></label></div>
        <div class="col-sm-3">@Model.LastName</div>
    </div>

    <div class="row">
        <div class="col-sm-3"><label asp-for="Birthdate" class="control-label"></label></div>
        <div class="col-sm-3">@Model.Birthdate</div>
    </div>

    <a asp-action="Index">Back to List</a>

</div>
