@model GameSlotViewModel

<link href="~/css/game.css" rel="stylesheet" />

<section>
    <table id="slot-machine-table" cellpadding="0" cellspacing="0" align="center" class="slot">
        @for (int row = 0; row < @Model.Rows; row++)
        {
            <tr id= "row-@row">
                @for (int col = 0; col < @Model.Cols; col++)
                {
                    <td id="game-table-col"><img id="p@(row.ToString() + col.ToString())" class="game-img img-responsive" src="~/images/fruits/@(Model.Rows + Model.Matrix[row,col] + ".png")"></td>
                }
            </tr>
        }
    </table>

    <div class="center-block text-center">
        <div class="inline text text-info">
            @if (Model.Currency != Currency.BGN)
            {
                <strong>
                    Balance: @WebConstants.CurrencySymbols[Model.Currency]@Model.Balance
                </strong>
            }
            else
            {
                <strong>
                    Balance: @Model.Balance @WebConstants.CurrencySymbols[Model.Currency]
                </strong>
            }
        </div>
        <div id="result-message" class="inline text"><strong> @Model.Message</strong></div>

        <input asp-for="@Model.Amount" id="stake-earning" hidden />
        <input asp-for="@Model.Balance" id="user-balance" hidden />
        <input asp-for="@Model.Coefficient" id="res-coef" hidden />
        <input asp-for="@Model.WinningRows" id="winning-rows" hidden />
    </div>
</section>